[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/googlebenchmark"]
	path = external/googlebenchmark
	url = https://github.com/google/benchmark
[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen
